.cardj {
  margin-bottom: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 15px 20px 10px 15px;
    border: none;
    border-radius: 8px 8px 0px 0px !important;

    &__title {
      font-size: 16px;
      color: $green;
      cursor: pointer;
      font-weight: bold;
      margin: 0;

      &--finish {
        color: $red-dark;
        cursor: default !important;
      }
    }
  }

  &__body {
    background-color: $white;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    border-radius: 0px 0px 8px 8px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__user {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__image {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        &__name {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
          color: $secondary;
          line-height: 20px;
          margin-left: 5px;
        }
      }

      &__time {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: $blue-gray-dark;
        font-size: 12px;
        line-height: 20px;
        margin-right: 10px;

        &__icon {
          margin-right: 5px;
          font-size: 16px;
        }
      }
    }

    &__body {
      border-left: 2px solid $green;
      padding-left: 10px;
      margin-top: 10px;

      &__cnt-header {
        display: flex;
        justify-content: space-between;

        &__title {
          margin: 0;
          font-weight: bold;
          color: $blue-gray-dark;
          cursor: pointer;
        }
      }
    }

    &__description {
      font-weight: 500;
      color: $blue-gray-dark;
      line-height: 18px;
      font-size: 14px;
      opacity: 0.7;
      margin: 0;
      margin-top: 5px;
      cursor: pointer;
      padding-bottom: 10px;
    }
  }

  &__divider {
    border: 1px solid $white-green-light;
    width: 95%;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

.task-list {
  width: 100%;
  height: 100%;
  background-color: $white-green-light;
  padding: 20px 0px;
}

//Tareas
.title {
  color: $secondary;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail {
  font-size: 13px;
  color: $primary;
}
