.cnt-create-task {
    text-align: center;
    &__item {
        padding-left: 15px;
        padding-bottom: 15px;
        text-align: left !important;
        p {
            margin: 0;
            font-weight: 300;
            font-size: 18px;
            color: gray;
        }

        input {
            width: 100%;
            padding: 10px 10px !important;
            border-radius: 5px;
            border: 1px solid #bdbdbd;
            outline: none !important;
        }

        input:focus {
            border: 2px solid #bdbdbd;
        }
    }

    &__item-autocomplete {
        padding-left: 15px;
        padding-bottom: 15px;
        text-align: left !important;

        p {
            margin: 0;
            font-weight: 300;
            font-size: 18px;
            color: gray;
        }
    }
}
