.btn-plus {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 64px;
    height: 64px;
    background-color: $primary;
    border-radius: 50%;
    right: 0;
    display: flex;
    align-items: center;
    margin: 25px;

    &__icon {
        margin: auto;
        color: $white;
        font-size: 30px;
    }

    :active {
        outline: none;
    }
}

.btn-right {
    display: flex;
    position: relative;
    float: right;
    margin-top: 20px;
}
