.points{
    cursor: pointer;
}

.options {
    position: absolute;
    right: 0;
    margin-top: -5px;
    margin-right: 5px;
    z-index: 1;
    border-radius: 10px;
    background-color: $white;
    box-shadow: -3px 0px 59px -20px $blue-shadow;
    padding: 5px;

    &__text {
        margin: 0;
        margin-top: 5px;
        margin-bottom: 4px;
        margin-left: 5px;
        margin-right: 10px;
        font-weight: 400;
        font-size: 15px;
        color: #b8bbc3;
        cursor: pointer;

        &--active {
            color: $primary;
        }

        &__icon {
            margin-right: 2px;
        }
    }
}
