.btn-default {
    padding: 6px 8px;
    background-color: #425195;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    max-height: 35px;
    border-radius: 10px;
    display: inline-block;
    border: none;
}
