.btn-default {
    padding: 6px 8px;
    background-color: $primary;
    font-size: 14px;
    color: $white;
    font-weight: bold;
    max-height: 35px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    outline: none !important;
}
