// Colors
$primary: #425195;
$secondary: #010c3b;

$blue-shadow: rgba(71, 87, 162, 1);
$blue-gray-dark: #333d69;

$white: #ffffff;
$white-green-light: #f3f5fa;

$gray: gray;
$gray-light: #bdbdbd;
$gray-light-secondary: #b8bbc3;

$black-transparent: #0000007d;

$green: #2dc09d;

$red: red;
$red-dark: #dc3646;